body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: #DF9775 url('../images/headermetlogo.png') repeat;

}

p {
  color: #AA5E3A;
}

* {
  margin: 2px;
  padding: 2px;
}


header {
  background: url('../images/headermetlogo.png');
  width: 960px;
  height: 160px;
}


header h1 {
  font-size: 300%;
  font-family: 'Parisienne', cursive;
  color: #277257;
  text-align: center;
  text-shadow: 5px 5px 6px #4E957C;
}

h2 {
  color: #AA5E3A;
}

ul {
  position: fixed;
  top: 110px;
  background: #FFCAB1;
  padding: 10px;
}

ul li {
  background: #AA5E3A;
  padding: 5px;
  border: solid 2px white;
  display: block;
}

ul li a {
  color: white;
  text-decoration: none;
}

ul li a:hover {
  color: #82BBA7;

}


section {
  padding: 5px;
  margin: 5px;
  border: double 4px black;
}

section article {
  border: 3px solid black;
  border-radius: 0px 20px 20px 20px;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background: white;
}

}

article h2 {

}

article p {

}

footer {
  background: #FFCAB1;
}

footer h3 {
  text-align: center;
  font-weight: normal;
  font-size: 90%;
  color: #277257;

}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

em {
  background-color: #82BBA7;
  color: #277257;
}

.dropbtn {
  background-color:
  color:
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:
}

table.lievelingsdingen {
  border-collapse: collapse;
  background-color: #552B72;
  color: #FFFDB1;
}

table.lievelingsdingen td {
  background-color: #AAA83A;
  border: 3px solid white;
  font-family: serif;

}


table.lievelingsdingen th {
 color: #A585BB;
 border-top-style: dotted;
 border-right-style: solid;
 border-bottom-style: dotted;
 border-left-style: solid;
 font-style: italic;

}

li {
  color: #A585BB;
}
